.formContainer{

    display: flex;
    flex-direction: column;
    gap: 30px;

    .title{
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        padding: 0px 40px;
        background-color: rgba(135, 207, 235, 0.521);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 40%;
        height: 70px;
    }

    .formInput{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 95%;

        .items{

            display: flex;
            justify-content: space-between;

            .option{
                display: flex;
                gap: 5px;
                align-items: center;

                Switch{
                    height: 5px;
                }
            }
        }
    }
    
    label {
        font-weight: bolder;
    }

    .additionalContent{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .addQuestion{
        button{
            border: none;
            padding: 10px;
            background-color: transparent;
            display: flex;
            gap: 5px;
            cursor: pointer;
            align-items: center;
        }
    }
    
}
